* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body,html{
  width:100%;
  height:100%;
  min-width: 400px;
  min-height: 600px;
}
body {
  color: whitesmoke;
  font-family: sans-serif;
  background-image: url('https://github.com/matricce/imersaocss/blob/master/images/bg.gif?raw=true');
  background-repeat: no-repeat;
  background-size: cover;
}
.bg {
  backdrop-filter: blur(7px);
  height: 100%;
}
/*para dispositivos com tela maior que 400px*/
@media (min-width: 400px) {
    
}
.content{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
header {
  display: flex; 
  align-items: center;
  height: 100%;
  justify-content: center;
}
.menu {
  background-color: rgba(0,0,0, 0);
  position: fixed; 
  width: 100vw;
  top: 10px;
}
.menu ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}
.menu li {
  color: white;
  list-style:none;
}
a {
  display: block;
  background-color: rgba(0,0,0, 0.2);
  border: solid;
  color: whitesmoke;
  padding:10.01px;
  text-decoration:none;
  transition: 0.5s;
  width: 80px;
}
a:hover {
  background-color: black;
}
.myinfo{
  /* background-color: rgba(0,0,0, 0.4); */
  border: 3px solid;
  width: 310px;
  min-width: 310px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}
.site-title,
.site-subtitle{
  text-align: center;
  margin: 25.01px 0px;
}
.site-subtitle{
  font-style: italic;
}
.img-profile {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 2px rgba(255, 255, 255, 0.129);
  transition:0.5s;
}
.img-profile:hover {
  border: solid 2px rgb(255, 255, 255);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6))
}