body {
  height: 100%;
  margin: 0;
  color: whitesmoke;
  font-family: sans-serif;
}
header {
  width: 100%;
}
a {
  background-color: rgba(0,0,0, 0.2);
  border: solid;
  color: whitesmoke;
  padding:10px;
  text-decoration:none;
  transition: 0.5s;
}
a:hover {
  background-color: black;
}
.menu ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0px;
}
.menu li {
  color: white;
  list-style:none;
}
.bg-image {
  background-image: url('/images/bg.gif');
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(7px);
  -webkit-filter: blur(7px);
  height: 100%;
  position: fixed;
  width: 100%;
}
header {
  position: absolute;
}
.myinfo{
  background-color: rgba(0,0,0, 0.4);
  border: 3px solid;
  margin: auto;
  width: 300px;
}
.site-title,
.site-subtitle{
  text-align: center;
}
.site-subtitle{
  font-style: italic;
}